.App {
  text-align: center;
  --tile-dimension: 30px;
  --row-length: 0px;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--tile-dimension), 1fr));
  max-width: calc(var(--row-length) * var(--tile-dimension));
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gamePanel {
  display: flex;
  justify-content: space-between;
  --scoring-padding: 10px;
  border: 1px white solid;
  width: calc(var(--row-length) * var(--tile-dimension) - calc(2 * var(--scoring-padding)));
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  padding: 0 var(--scoring-padding);
}

.resetBtn {
  background: transparent;
  height: 80%;
  width: 50px;
  font-size: larger;
}