.Tile {
    width: var(--tile-dimension);
    height: var(--tile-dimension);
    cursor: pointer;
    outline: 1px white solid;
}

.value {
    display: none;
    font-weight: bolder;
    user-select: none;
    line-height: var(--tile-dimension);
    width: 100%;
    height: 100%;
    font-size: large;
}

.value.exposed {
    display: block;
    background-color: grey;
}

.value.detonated {
    display: block;
    background-color: red;
}